In [182]:
import pandas as pd

In [183]:
data = [[1, 100], [2, 200], [3, 300]]
employee = pd.DataFrame(data, columns=['Id', 'Salary']).astype({'Id':'Int64', 'Salary':'Int64'})

In [ ]:
def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:

In [189]:
employee.sort_values(by='Salary')['Salary']='200'

   Id  Salary
0   1     100
1   2     200
2   3     300

In [188]:
employee

   Id  Salary
0   1     100
1   2     200
2   3     300